* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.announcement {
    height: 40px;
    color: white;
    background: #ff6200;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
}

.announcement-wrapper {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    letter-spacing: .1px;
}

.announcement-title {
    color: #be3600;
}

.announcement-content {
    padding-left: 10px;
}

header {
    background: #f9f9f9;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    width: 1080px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    max-width: 194px;
    height: 43px;
}

ul {
    text-decoration: none;
    list-style: none;
}

.nav-wrapper {
    display: flex;
    width: 517px;
    justify-content: space-evenly;
    padding: 0 30px 0 0;
    position: relative;
}

.nav-wrapper li a {
    color: #333333;
    font-size: 14.5px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;  
}

.nav-wrapper > li a:hover {
    border-bottom: #ff6200 solid 4.25px;
    padding-bottom: 6px;
    font-weight: 500;
}

.sub-menu {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 232%;
    left: 57px;
    width: 110px;
    height: 114px;
    padding: 15px 0px;
    background: #fff;
    z-index: 1;
    border: 2px solid #b7b7b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sub-menu li a:hover {
    font-weight: 500;
}

.muli-sub-menu li a:hover {
    font-weight: 500;
}

.muli-sub-menu {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 47%;
    left: 106px;
    width: 110px;
    height: 114px;
    padding: 15px 0px;
    background: #fff;
    z-index: 1;
    border: 2px solid #b7b7b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-section {
    display: flex;
    justify-content: center;
}

.main-section-wrapper {
    width: 1080px;
}

.breadcrum {
    font-size: 15px;
    color: #adadad;
    margin-top: 30px;
    display: flex;
    padding: 0px;
}

.breadcrum li {
    font-size: 15px;
    color: #adadad;
    margin-top: 23px;
    font-weight: 500;
    margin-right: 3px;
}

.breadcrum li:last-child {
    color: #222222;
}

.title {
    color: #ff6200;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-top: 25px;
}

.overview {
    color: rgb(172, 172, 172)	;
    margin-top: -10px;
    line-height: 23px;
    max-width: 980px;
}

h2 {
    color: #ff6200;
    font-size: 27px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 39px;
    margin-bottom: 0px;
}

hr {
    border: #525252 solid 3px;
    padding: 0;
    margin-top: 11px;
}

.bottom-section {
    display: flex;
}

.bottom-block {
    width: 57%;
    padding-right: 85px;
}

.bottom-block-2 {
    width: 42.5%;
}

.social-links {
    display: flex;
    padding: 0px;
    margin-top: 87px;
}

.social-links li {
    color: #fff;
    background: #D0D0D0;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links li:first-child {
    background: #363636;
}



.bottom-block-2 p {
    font-size: 15px;
    margin-top: 20px;
    color: #7a7a7a;
}

#reach-us-title {
    margin-top: 10px;
    margin-bottom: -14px;
}

form {
    margin-top: 19px;
}

input {
    height: 36px;
}

form input:nth-child(2) {
    margin-right: 10px;
}

form input:nth-child(n+2):nth-child(-n+3) {
    width: 48.4%;
}

::placeholder {
    color: #999999;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: .1px;
    font-size: 15px;
    padding: 8px 0 0 8px;
}

input, textarea {
    width: 100%;
    margin-bottom: 12px;
    border: .5px solid #EDEDED;
    background: #F6F6F6;
    border-radius: 0px;
}

.submit {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background: #ff6200;
    margin-top: 2px;
    padding: 10px 10px;
    width: 117px;
    font-size: 14px;
}